In [6]:
# For using custom module.
import sys
sys.path.append('../custom_library')

In [7]:
import igraph
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from igraph import *
# import connect_to_db as cn

In [8]:
data1 = pd.read_csv('../predicting-satisfaction-using-graphs/csv/tf_idf_similarity_comments_pair.csv')
data2 = pd.read_csv('../predicting-satisfaction-using-graphs/csv/tf_idf_similarity_post_contents_pair.csv')

In [9]:
data2

       post_id1 post_id2  tf-idf_similarity
0        112354   b9hq37           0.223179
1        112354   1zair5           0.410175
2        112354   653701           0.317580
3        112354   3wf4dn           0.202252
4        112354   2wdype           0.268716
...         ...      ...                ...
192505   aziyc1   8vnu4a           0.118166
192506   aziyc1   ahklz6           0.093965
192507   385k9t   8vnu4a           0.198749
192508   385k9t   ahklz6           0.134808
192509   8vnu4a   ahklz6           0.174048

[192510 rows x 3 columns]

In [10]:
data1 = data1[['comment_id1', 'comment_id2', 'tf-idf_similarity']]
data2 = data2[['post_id1', 'post_id2', 'tf-idf_similarity']]

In [11]:
idx1 = data1[data1['tf-idf_similarity'] < 0.1016043857145497].index
idx2 = data2[data2['tf-idf_similarity'] < 0.2175105303918816].index

In [12]:
data1_filtered = data1.drop(idx1)
data2_filtered = data2.drop(idx2)

In [13]:
tuples1 = [tuple(x) for x in data1_filtered.values]
g1 = igraph.Graph.TupleList(tuples1, directed=False, edge_attrs=['tf-idf_similarity'])

tuples2 = [tuple(x) for x in data2_filtered.values]
g2 = igraph.Graph.TupleList(tuples2, directed=False, edge_attrs=['tf-idf_similarity'])

In [14]:
g1

In [15]:
print("Comment Graph")
print("Number of vertices in the graph:", g1.vcount())
print("Number of edges in the graph:", g1.ecount())
print("Maximum degree in the graph:", g1.maxdegree())
print()
print("Post Graph")
print("Number of vertices in the graph:", g2.vcount())
print("Number of edges in the graph:", g2.ecount())
print("Maximum degree in the graph:", g2.maxdegree())

Comment Graph
Number of vertices in the graph: 881
Number of edges in the graph: 194266
Maximum degree in the graph: 767

Post Graph
Number of vertices in the graph: 613
Number of edges in the graph: 96255
Maximum degree in the graph: 544

In [22]:
print(f'comment graph avg degree : {mean(g1.degree())}')
print(f'post graph avg degree : {mean(g2.degree())}')

comment graph avg degree : 441.0124858115782
post graph avg degree : 317.607843137255

In [44]:
for v, deg in zip(g2.vs, g2.degree()):
    if deg > 800:
        print(v, deg)
        

print(g2.vs[256])
data2_filtered[data2_filtered.post_id2 == '751qhd']

igraph.Vertex(<igraph.Graph object at 0x7f3fb777f8b0>, 256, {'name': '751qhd'}) 890
igraph.Vertex(<igraph.Graph object at 0x7f3fb777f8b0>, 256, {'name': '751qhd'})

       post_id1 post_id2  tf-idf_similarity
348      112354   751qhd           0.310205
422      112354   751qhd           0.310205
1591     1zair5   751qhd           0.277877
1665     1zair5   751qhd           0.277877
2211     653701   751qhd           0.371841
...         ...      ...                ...
172854   40phll   751qhd           0.295354
173060   9cq1n3   751qhd           0.236607
173265   a9xhdn   751qhd           0.272967
173874   5f1rr0   751qhd           0.298002
174075   51vhw1   751qhd           0.343491

[556 rows x 3 columns]