In [1]:
import pandas as pd

In [16]:
data1 = pd.read_csv('../predicting-satisfaction-using-graphs/sep_32_1e_5_training_result.csv')
data2 = pd.read_csv('../predicting-satisfaction-using-graphs/sep_32_2e_5_training_result.csv')
data3 = pd.read_csv('../predicting-satisfaction-using-graphs/sep_3_1e_5_training_result.csv')
data4 = pd.read_csv('../predicting-satisfaction-using-graphs/sep_3_2e_5_training_result.csv')

In [4]:
data1

     epoch  training_loss  validation_loss  r^2_score
0        1      13.599873         8.522799  -7.036966
1        2       6.960439         4.414955  -3.150369
2        3       3.662772         2.048939  -0.926656
3        4       1.771325         1.056793  -0.029160
4        5       1.075450         1.092607  -0.087855
..     ...            ...              ...        ...
195    196       0.028421         1.161255  -0.128916
196    197       0.028125         1.158725  -0.125624
197    198       0.027873         1.163319  -0.131179
198    199       0.027799         1.164611  -0.132762
199    200       0.027779         1.162330  -0.130036

[200 rows x 4 columns]

In [19]:
data_list = [data1, data2, data3, data4]

In [21]:
for data in data_list:
    print(data['training_loss'][data[['training_loss']].idxmin()])
    print(data['validation_loss'][data[['validation_loss']].idxmin()])
    print(data['r^2_score'][data[['r^2_score']].idxmax()])
    print()

189    0.023656
Name: training_loss, dtype: float64
7    1.030943
Name: validation_loss, dtype: float64
8   -0.010922
Name: r^2_score, dtype: float64

194    0.011029
Name: training_loss, dtype: float64
4    1.030625
Name: validation_loss, dtype: float64
4   -0.009155
Name: r^2_score, dtype: float64

186    0.007683
Name: training_loss, dtype: float64
1    1.07825
Name: validation_loss, dtype: float64
1   -0.024602
Name: r^2_score, dtype: float64

197    0.004859
Name: training_loss, dtype: float64
2    1.075603
Name: validation_loss, dtype: float64
0   -0.021909
Name: r^2_score, dtype: float64

In [22]:
data1 = pd.read_csv('../predicting-satisfaction-using-graphs/ws_32_1e_5_training_result.csv')
data2 = pd.read_csv('../predicting-satisfaction-using-graphs/ws_32_2e_5_training_result.csv')
data3 = pd.read_csv('../predicting-satisfaction-using-graphs/ws_3_1e_5_training_result.csv')
data4 = pd.read_csv('../predicting-satisfaction-using-graphs/ws_3_2e_5_training_result.csv')

In [23]:
data_list = [data1, data2, data3, data4]

for data in data_list:
    print(data['training_loss'][data[['training_loss']].idxmin()])
    print(data['validation_loss'][data[['validation_loss']].idxmin()])
    print(data['r^2_score'][data[['r^2_score']].idxmax()])
    print()

189    0.015695
Name: training_loss, dtype: float64
3    1.054037
Name: validation_loss, dtype: float64
3   -0.048338
Name: r^2_score, dtype: float64

189    0.014305
Name: training_loss, dtype: float64
4    1.016461
Name: validation_loss, dtype: float64
5    0.00542
Name: r^2_score, dtype: float64

194    0.009224
Name: training_loss, dtype: float64
1    1.098977
Name: validation_loss, dtype: float64
1   -0.053239
Name: r^2_score, dtype: float64

195    0.005673
Name: training_loss, dtype: float64
1    1.081274
Name: validation_loss, dtype: float64
1   -0.031513
Name: r^2_score, dtype: float64